extends layout

block content
    section.container-fluid.bg-dark.text-white
        .poster.py-3.container.mx-auto
            .row.justify-content-center
                .col-4.pb-3.poster_img
                    img.w-100.rounded(src=`/images/${movie.photoPath}`, alt=movie.title)
                .col-8.poster_info.d-flex.flex-column.justify-content-center
                    .poster_info_wrapper.text-center.text-md-start
                        .poster-details 
                            .poster_title.d-flex
                                h2= movie.title
                                span.release-date.text-secondary &nbsp;
                            .poster_facts.d-flex
                                span.certification= movie.certification
                                span.release= movie.releaseDate
                                span.genres
                                    ul.d-flex.list-unstyled.mb-0.ps-3
                                        each genre in movie.genres
                                            li= genre
                                span.runtime= movie.runtime
                        ul.actions.list-unstyled.d-flex
                            li.action
                                span= movie.userScore + " User Score"
                            li.action.btn--circle
                                a(href="/movie/favourite")
                                    i.bi.bi-heart
                            li.action.btn--circle
                                a(href="#reviewModal", data-bs-toggle="modal", data-bs-target="#reviewModal")
                                    i.bi.bi-pen-fill
                            #reviewModal.modal.fade(tabindex='-1', aria-labelledby='reviewModalLabel', aria-hidden='true')
                                .modal-dialog
                                    .modal-content.bg-dark
                                        .modal-header.border-dark
                                            h5.modal-title#reviewModalLabel.modal-title Rate #{movie.title}
                                            button(type='button', class='btn-close', data-bs-dismiss='modal', aria-label='Close').text-white
                                        .modal-body.border-dark
                                            form
                                                .form-row
                                                    .form-group.col-sm-12
                                                        label(for='inputTitle') Review Title
                                                        input#inputTitle.form-control(type='text' placeholder='Title')
                                                    .form-group.col-sm-12.mt-2
                                                        label(for='inputRating') Rating
                                                        input#inputNumeric.form-control(type='number', min='0', max='10', step='1', value='0')
                                                    .form-group.col-sm-12.mt-2
                                                        label(for='inputContent') Review Text
                                                        textarea#inputContent.form-control(type='text', placeholder='Review Text')
                                                button.btn.btn-primary.mt-2.w-100(type='submit') Add Review

                            li.action.btn--circle
                                a(href="/movie/favourite")
                                    i.bi.bi-star-fill
                            li.action
                                a(href="/movie/favourite")
                                    i.bi.bi-play-fill Play Trailer
                        h3.tagline= movie.tagline
                        h3.h3 Overview 
                        .overview
                            p= movie.overview
                            ol.people.list-unstyled.d-flex
                                each person in movie.people
                                    li.profile.pe-2
                                        p.fw-bold.mb-0= person.name
                                        p.character= person.role

                            
    section#social
        .container.mx-auto.px-3.py-4
            .menu.d-flex.flex-column
                h3.me-5.mb-2 Social
                ul.list-unstyled.d-flex.align-items-center.mb-0.pb-3
                    li.pb-1.me-2.border-bottom.border-black.border-5 Reviews
                    li.pb-1.me-2.border-bottom.border-white.border-5 Discussions
                .content
                    each review in movie.reviews
                        include _includes/movie-review

                
